!!!
%head
  %title= 'test' || title
  %link{href: '/css/main.css', type: 'text/css'}
  %script{src: '/js/jquery.js', type: 'text/javascript'}
  %script{src: '/js/jquery.ws.js', type: 'text/javascript'}
  %script{src: '/js/jquery.json.js', type: 'text/javascript'}
  %script{src: '/js/client.js', type: 'text/javascript'}
%body
  #header
    %h1 let's write
  #main
    !=body
  #footer
    &copy; Ratan
